.h1, .h2, .h3, .h4, .h5{
    font-family: Poppins;
}

.p{
    font-family: Inter;
}

.container{
    margin-bottom: 100px;
}

.orange-bg{

    background-color: #FEEAE9;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
color: #FF136F;
font-family: Poppins;
font-size: 41px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.buy-now-button{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 168px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--Linear, linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%));
    border:none;
    cursor: pointer;
}

.left_arrow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

/*===========================Categories=============================== */
.cat_head{
color: #1F1F1F;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.categories1{
    background-image: linear-gradient(152deg, #FF9C35 1.47%, #FFD019 97.17%);
    border-radius: 10px;
}

.categories2{
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 10px;
}

.categories3{
    background-image: linear-gradient(170deg, #4289FF -10.89%, #3F07F8 92.77%);
    border-radius: 10px;

}
.categories1, .categories2, .categories3{
    padding: 10px 30px;
}

.categories h1{
color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.categories img{
    width: 100px;
}

/* =======================Shoes Category, card-deck, card box shadow==================== */

.buy-now-button4{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 168px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #000;
    border: none;
}

.buy-now-button4:hover{
    color:#ff5200;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
}

.card-footer{
    background-color: white;
    border-top:none;
}

/*==================Subscribe Section, Horizonatal and vertical center===============*/

#subscribe{
    height: 455px;
}

#subscribe h6{
     color:#707070;
}

footer{
    text-align:center;
}